<div class="starter-app">
  <nx-small-stage>
    <h1 nxHeadline="section">Berufs­unfähigkeits­versicherung Rechner</h1>
  </nx-small-stage>

  <form [formGroup]="formGroup" class="form-example nx-margin-top-s">
    <div nxLayout="grid">
      <div nxRow>
        <div nxCol="12,12,6">
          <h2>1. Persönliche Daten</h2>
          <div nxRow>
            <div nxCol="12">
              <nx-formfield label="Mein Geburtsdatum">
                <input
                  nxDatefield
                  nxInput
                  [min]="minDate"
                  [max]="maxDate"
                  [datepicker]="myDatepicker"
                  formControlName="birthDate"
                />
                <span nxFormfieldHint>DD.MM.YYYY</span>

                <nx-datepicker-toggle
                  [for]="myDatepicker"
                  nxFormfieldSuffix
                ></nx-datepicker-toggle>
                <nx-datepicker #myDatepicker></nx-datepicker>
                @if( formGroup.get('birthDate')?.hasError('required')) {
                <nx-error nxFormfieldError> This field is required </nx-error>
                } @if (
                formGroup.get('birthDate')?.hasError('nxDatefieldParse')) {
                <nx-error nxFormfieldError>
                  Please enter a valid date.
                </nx-error>
                }
              </nx-formfield>
            </div>
          </div>
          <div nxRow>
            <div nxCol="12">
                <nx-radio-group name="smoker" formControlName="smoker">
                  <nx-label class="nx-margin-bottom-m"
                    >Raucherstatus</nx-label
                  >
                  <div nxLayout="grid">
                    <div nxRow>
                      <div nxCol="6">
                        <nx-radio value="1" class="nx-margin-bottom-s">
                          Raucher
                        </nx-radio>
                      </div>
                      <div nxCol="6">
                        <nx-radio value="0" class="nx-margin-bottom-s">
                          Nicht Raucher
                        </nx-radio>
                      </div>
                    </div>
                  </div>
                </nx-radio-group>
            </div>
          </div>
          <div nxRow>
            <div nxCol="12">
              <nx-formfield label="Mein Beruf">
                <nx-dropdown
                  [showFilter]="true"
                  filterPlaceholder="Beruf"
                  formControlName="profession"
                >
                @for (profession of professions; track profession) {
                  <nx-dropdown-item [value]="profession">{{profession}}</nx-dropdown-item>
                }
                </nx-dropdown>
                <nx-error nxFormfieldError>Please select an option</nx-error>
              </nx-formfield>
            </div>
          </div>
        </div>

        <div nxCol="12,12,6">
          <h2>2. Versicherungsdauer</h2>
            <nx-slider
                label="Alter bei Versicherungsende "
                name="Alter bei Versicherungsende "
                formControlName="versicherungsdauer"
                [min]="18"
                [max]="67"
                [step]="1"
            >
            </nx-slider>
        </div>
      </div>
      <div nxRow>
        <div nxCol="12">
          <h2>3. Wählen Sie Ihre monatliche Rente oder Ihren monatlichen Zahlbeitrag frei aus.</h2>
          <div nxRow>
            <div nxCol="6">
              <nx-slider
                label="Monatliche Berufsunfähigkeitsrente"
                name="Monatliche Berufsunfähigkeitsrente"
                formControlName="monatlicheRente"
                [min]="50"
                [max]="2500"
                [step]="1"
              >
              </nx-slider>
            </div>
            <div nxCol="6">
              <nx-slider
                label="Ihr aktueller monatlicher Zahlbeitrag"
                name="Ihr aktueller monatlicher Zahlbeitrag"
                formControlName="zahlbeitrag"
                [min]="50"
                [max]="2500"
                [step]="1"
              >
              </nx-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  @if (formGroup.invalid && formGroup.touched) {
    <nx-message type="error" class="nx-margin-bottom-m">
      Please fill in all required fields correctly before proceeding.
    </nx-message>
  }

  <button nxButton (click)="getQuote()">Tarifiere!</button>
</div>

@if(quoteResult) {
  <div>
    <h2>Ergebnis</h2>
    <pre>{{ quoteResult | json }}</pre>
  </div>
}
